require-pap
refuse-chap
refuse-eap
refuse-mschap
refuse-mschap-v2
require-mppe-128
ipcp-accept-local
ipcp-accept-remote
noccp
auth
mtu 1280
mru 1280
proxyarp
lcp-echo-failure 4
lcp-echo-interval 30
connect-delay 5000
ms-dns #DNS_SRV1#
ms-dns #DNS_SRV2#
