[Unit]
Description=CarbonAPI - replacement for graphite-web written in Go
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/carbonapi
ExecStart=/usr/bin/carbonapi $CARBONAPI_ARGS
ExecReload=/bin/kill -USR2 $MAINPID
PIDFile=/var/run/carbonapi/carbonapi.pid
LimitNOFILE=200000
RuntimeDirectory=carbonapi
RuntimeDirectoryMode=0755
User=carbon
Group=carbon

[Install]
WantedBy=multi-user.target