; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "riemann.log"})

(tcp-server {:tls? false
             :key "test/data/tls/server.pkcs8"
             :cert "test/data/tls/server.crt"
             :ca-cert "test/data/tls/demoCA/cacert.pem"})

(instrumentation {:interval 1})

(udp-server)
(ws-server)
(graphite-server :port 8888)

(def graph (graphite {:host "localhost"}))
(streams graph)

(streams
  (where (service "monitoring")
    #(info %)))
